@model IEnumerable<AddressBook.Entities.Phonedirectory>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>


                <button class="editBtn" data-id="@item.id">Edit</button>
                <button class="deleteBtn" data-id="@item.id">Delete</button>
            </td>
        </tr>
    }

</table>
<script type="text/javascript">     

     $(".editBtn").click(function () {
		  $.ajax({
				type: 'GET',
				url: '@Url.Action("Edit", "Home")',
              data: {
                  phoneDirectoryId: $(this).attr('data-id')
              }
			}) .done(function (response) {
                console.log(response);
                $("#actionContainer").html(response);
                $("#formContiner").html("");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("FAIL");
			});
	  });

</script>

